h1, h2, h3, p, code, pre{
  margin-bottom: $space-m;
}

h1, h2, h3{
  font-weight: bold;
}

p, table, figcaption{
  font-size: $bfs;
}

h1{
  font-size: $bfs * 1.8;
}

h2{
  font-size: $bfs * 1.4;
}

h3{
  font-size: $bfs * 1.2;
}
